/*CSS DOCUMENT*/

body {
	font-family: sans-serif;
	line-height: 1.4em;
	color: #222;
	background-color: #fafafa;
	box-sizing: border-box;
	}
	
div.container {
        max-width: 40em;
        margin: 1em auto;
        padding: 1em;
		
}

/* I have *some* selectors with their declarations in the declaration block. You’ll need more selectors and declaration blocks. */

section.personal-info ul li input[type="text"],
section ul li input[type="email"],
section ul li input[type="tel"],
section ul li select {
	flex: 1 0 30em;
	box-sizing: border-box;
}

section {
    background: #eee;
    padding: 1em;
    margin-bottom: 1em;
}

section ul {
	padding: 0;
}

section.personal-info ul li {
	display: flex;
	padding: .5em 0;
	flex-wrap: wrap;
}

section.personal-info ul li label {
	flex: 0 0 10em;
}

section.order h3 {
	margin: 0;
}

section.order ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

section.order ul li {
	flex: 1 0 16em;
}

section.method ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

section.method ul li {
	flex: 1 0 15em;
}

section p {
	margin-top: 0;
}

textarea {
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 6em;
	background: #fcfcfc;
	border: 1px solid #e8e8e8;
	padding: 0.4em;
	font-family: sans-serif;
	color: #777;
	}

@media only screen and (min-width: 40em) {

  div.container {
    margin: auto;
  }

}